
@{
    ViewData["Title"] = "Error404";
}

<style>
    body {
        background-color: black;
        color: white;
    }

    h2 {
        color: white;
        text-align: center;
        margin-top: 30px;
    }

    .alert {
        background-color: #ff6666; /* Cor de alerta em vermelho */
        color: white;
        font-weight: bold;
        padding: 20px;
        text-align: center;
        border-radius: 5px;
        margin: 50px auto;
        width: 50%;
    }

    a.btn-back {
        background-color: #00cccc;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        margin: 20px auto;
        text-decoration: none;
        display: block;
        width: fit-content;
        text-align: center;
        border-radius: 5px;
    }

        a.btn-back:hover {
            background-color: #00b3b3;
            color: white;
        }
</style>

<h2>Access Denied</h2>

<div class="alert">
    <strong>Ups! Page not found!!</strong>
</div>

