@{
    ViewData["Title"] = "ErrorFinalise";
}

<style>
    body {
        background-color: black;
        color: white;
    }

    .table {
        background-color: white;
        color: black;
    }

        .table th, .table td {
            color: black;
        }

    h1 {
        color: white;
    }

</style>

<h1>ErrorFinalise</h1>

<div class="alert alert-danger">
    <strong>You can only finalise matches that have already taken place and after the results have been entered.</strong>
</div>
