
@{
    ViewData["Title"] = "ForgotPasswordConfirmation";
}
<style>
    body {
        background-color: black;
        color: white;
    }

    h1, h4 {
        color: white;
    }

    .form-control {
        background-color: white;
        color: black;
    }

    .btn-primary {
        background-color: #66ff66;
        border-color: #66ff66;
        color: white;
        font-weight: bold;
    }

    .text-danger {
        color: #ff6666;
    }

    a.btn-back {
        background-color: #00cccc;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        margin-left: 10px;
        text-decoration: none;
        display: inline-block;
    }

        a.btn-back:hover {
            background-color: #00b3b3;
            color: white;
        }

    .form-group-inline {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .form-group-inline input[type="submit"],
        .form-group-inline a.btn-back {
            margin-right: 10px;
        }
</style>

<h1>ForgotPasswordConfirmation</h1>
<p>Please check your email for a link to reset your password.</p>

