@model LigaIsadoraSilva.Models.LoginViewModel


@{
    ViewData["Title"] = "Login";
}

<style>
    body {
        background-color: black;
        color: white;
    }

    h1, h4 {
        color: white;
    }

    .form-control {
        background-color: white;
        color: black;
    }

    .btn-primary {
        background-color: #66ff66;
        border-color: #66ff66;
        color: white;
        font-weight: bold;
    }

    .text-danger {
        color: #ff6666;
    }

    a.btn-back {
        background-color: #00cccc;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        margin-left: 10px;
        text-decoration: none;
        display: inline-block;
    }

        a.btn-back:hover {
            background-color: #00b3b3;
            color: white;
        }

    .form-group-inline {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

        .form-group-inline input[type="submit"],
        .form-group-inline a.btn-back {
            margin-right: 10px;
        }
</style>

<h1>Login</h1>

<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="UserName">Email</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label">Remember Me?</label>
                </div>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-success" />
                <a asp-action="ForgotPassword" class="btn btn-link">Forgot your password?</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
